* {
  transition: all 1s ease-in; }

.navBar__Heading {
  font-size: 3rem;
  text-align: center;
  height: 10vh; }

.main #quote-box {
  background: white;
  margin: 0rem auto;
  width: 50%;
  padding: 2.6rem;
  min-height: 50vh;
  border-radius: 33%; }

.main #text {
  font-size: 2rem;
  margin-top: 5rem;
  min-height: 10rem;
  justify-content: center;
  text-align: center; }

.main #author {
  text-align: right;
  font-size: 1.3rem;
  text-transform: uppercase; }

.main #new-quote {
  background: lightgreen;
  font-size: 1.3rem;
  margin: 0px auto;
  padding: 0.3rem;
  border-radius: 2rem;
  margin-bottom: 2rem; }
